#spanish {
  background-color: #ffdc00;
  padding: 10px;
  text-align: center;

  #title {
  }

  #word {
    width: 30%;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    margin: 0 auto;
    #word-img {
      max-height: 20vh;
    }
    h2 {
      background-color: #ddd;
      padding: 4px 2px;
    }
  }
}
