body {
  font-family: Lato, sans-serif;
}

#container {
  background-color: #ccc;
  border-radius: 40px;
  margin: 10px 4px;
  overflow: hidden;

  #actual-word {
    position: absolute;
    left: 4%;
  }
  #learned {
    position: absolute;
    right: 4%;
    color: #0074d9;
  }

  #not-learned {
    position: absolute;
    right: 4%;
    color: #ff4136;
  }
}

#app {
  display: flex;
}

#english {
  width: 50vw;
}

#deutsch {
  width: 50vw;
}

#controls {
  #previous-arrow {
    background-color: #ff851b;
    padding: 10px;
    position: absolute;
    top: 42vh;
    left: 0;
  }

  #next-arrow {
    background-color: #ff851b;
    padding: 10px;
    position: absolute;
    top: 42vh;
    right: 0;
  }
}
